:root {
  padding: 0;
  margin: 0;
  display:inline;
  flex-direction: column;
  max-width: 500px;

}

/*--------------- GENERAL INFO SECTION---------------*/
/*---------------BEFORE SUBMITTING INFO---------------*/
.generalInfo {
  color: blue;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  margin: 0;
  padding: 0;
}
h3 {
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  justify-self: center; 
  align-self: center;
}
.generalInfoName {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0;
  padding: 0;
}
.generalInfoPhoneNumber {
  grid-column: 2/3;
  grid-row: 2/3;
  color: red;
  margin: 0;
  padding: 0;
}
.generalInfoEmail {
  grid-column: 1/3;
  grid-row: 3/4;
  color: aqua;
  margin: 0;
  padding: 0;
}
#generalInfoEmailInput {
  display: absolute;
  width: 97%;
  margin: 0;
  padding: 0;
}


/*--------------- WORK EXPERIENCE SECTION---------------*/
/*---------------BEFORE SUBMITTING INFO---------------*/
.workExperience {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.formCtn {
  border: solid 1px black;
  color: red;
}

/*--------------- EDUCATION SECTION---------------*/
/*---------------BEFORE SUBMITTING INFO---------------*/
.educationExperience {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}